/* Custom reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

button,
label,
input,
select,
progress,
meter {
	display: block;
	font-family: inherit;
	font-size: 100%;
	box-sizing: border-box;
	width: 100%;
	margin: 0;
	padding: 0;
}

* {
	box-sizing: border-box;
}
/* End Custom reset */

:root {
  --body-background: #EEEEEE;
  --aside-background: #DDDDDD;
  --main-background: #FFFFFF;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--body-background);
}

.container {
  max-width: 1200px;
  min-height: 100vh;
  margin: 0 auto;

  display: grid;
  grid-template-columns: 1fr 4fr;
}

aside {
  padding: 1rem;
  background-color: var(--aside-background);
}

main {
  padding: 1rem;
  background-color: var(--main-background);
}

.headline {
  font-size: 2rem;
  font-weight: bolder;
}